@import "consts";
@import "mixins";

.footer-wrapper {
    background: url("../img/testmonials-bg\ 1.png") top center no-repeat, url("../img/Layer\ 2.png") top center;
    padding-top: 57px;
    text-align: center;
    margin: 0 auto;
}

.footer-logo {}

.footer-logo__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: $text-colorW;
}

.footer-logo__cards {
    padding-top: 53px;
    padding-bottom: 37px;
}

.footer-logo__card {}

.footer-logo__card__img {
    margin-top: 45px;
}

.footer-logo__card__content {
    margin-top: 30px;
    margin-left: 38px;
    margin-right: 38px;
    font-family: Lato;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: $text-colorW;
}

.footer-content {
    margin-right: 33px;
    margin-left: 33px;
    font-family: Lato;
    font-size: 14px;
    line-height: 21px;
    color: #A291A5;
}

.footer-content:after {
    content: ' ';
    margin-top: 22px;
    width: 100%;
    height: 2px;
    background: #645766;
    display: block;
}

.footer-price-title {
    margin-top: 14px;
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
    color: $text-colorW;
}

.footer-price-cards-wrapper {
    margin-top: 32px;
    padding-bottom: 10px;
}

.footer-price-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-price-card {
    width: 257px;
    margin-bottom: 18px;
}

.footer-price-card--default {
    width: 299px;
}

.footer-price-cart__rate {
    background: rgba(255, 255, 255, 0.06);
}

.footer-price-cart__rate--default {
    background: rgba(0, 0, 0, 0.30);

}

.footer-price-cart__rate-name {
    padding-bottom: 36px;
    padding-top: 36px;
    font-size: 24px;
    text-transform: uppercase;
    color: $text-colorW;
}

.footer-price-cart__rate-name--default {
    padding-bottom: 43px;
    padding-top: 43px;

}

.footer-price-card-content {
    background: rgba(255, 255, 255, 0.11);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 360px;
}

.footer-price-card-content--default {
    background: rgba(0, 0, 0, 0.15);
    height: 449px;

}

.footer-price-card-content__coast {
    padding-top: 30px;
    font-size: 60px;
    color: $text-colorW;
}

.footer-price-card-content__coast--bold {
    font-weight: bold;
}

.footer-price-card-content__coast--default {
    font-size: 82px;
    padding-top: 14px;
}

.footer-price-card-content__period {
    margin-top: 20px;
    font-size: 14px;
    text-transform: uppercase;
    color: $text-colorW;
}

.footer-price-card-content__period--default {
    margin-top: 16px;
}

.footer-price-card-content__period:after {
    content: ' ';
    margin-top: 38px;
    margin-right: auto;
    margin-left: auto;
    width: 60px;
    height: 5px;
    background: #645766;
    display: block;
}

.footer-price-card-content__support {
    margin-top: 30px;
    margin-bottom: 36px;

    line-height: 28px;
    font-size: 16px;
    color: $text-colorW;
}

.footer-price-card-content__support--first {
    margin-bottom: 68px;
}

.footer-price-card-content__support--default {
    margin-top: 40px;
}

.footer-price-card-content__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 163px;
    height: 45px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    cursor: pointer;
}

.footer-price-card-content__btn--default {
    margin-top: 78px;
}

.footer-price-card-content__btn__text {
    font-size: 15px;
    text-transform: uppercase;
    color: $text-colorW;
}