@media all and (min-width: 992px) {

    .footer-logo__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .footer-price-cards-wrapper {
        padding-right: 10px;
    }
    
      .footer-price-card {
        margin-left: 15px;
    }

   .footer-price-cards {
        display: flex;
        flex-direction: row;
        justify-content: center;

    }
}