@media all and (min-width: 481px) {

    .footer-price-title {
        font-weight: bold;
        font-size: 42px;
    }

    .footer-price-card {
    margin-left: 25px;
    }

    .footer-logo__cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .footer-price-cards-wrapper {
        padding-right: 108px;
    }
    
    .footer-price-cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

}
    
