@media all and (min-width: 992px) {
  .top-menu-wrapper {
    padding-left: 90px;
    padding-right: 90px;
  }
  .top-menu {
    background: none;
  }
  .main-wrapper{
    padding-left: 0;
    padding-right: 0;
  }

  .main-content {
    background: #F4F4F4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 70px;
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .top-menu__main-menu_768 {
    display: none;
  }
  .top-menu__1200 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .top-menu__main-menu_1200 {
    display: flex;
    flex-direction: row;
  }

  .header-content-name {
    font-size: 82px;
  }
  .header-content-about {
    font-size: 30px;
  }
  .header-content-ver {
    font-size: 16px;
  }


  .main-content__revolutionary {
    font-size: 54px;
  }
  .main-content__title-get--bottom {
    font-size: 48px;
  }

  .main-content__cards {
    margin-right: 80px;
  }
  .main-content__card {
    margin-bottom: 5px;
  }
  .main-content__bottom {
    display: inline;
    align-items: flex-start;
    justify-content: flex-start;
  }
}