@import "mixins";
@import "consts";

@media all and (min-width: 481px) {
  .top-menu__logo {
    @include d-flex-row;
    align-items: center;
    color: $main-color;
  }
  .top-menu__logo__text {
    display: block;
    font-family: Lato;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    margin-left: 17px;
  }
  .top-menu__logo:hover {
    color: $text-colorW;
  }
  .top-menu__logo:hover .top-menu__logo__img {
    content: url("../img/icons/logo-hover 1.png")
  }
  .top-menu-wrapper {
    padding: 24px 20px 56px 20px;
  }
  .top-menu-btn-block {
    display: none;
  }
  .top-menu__main-menu_768 {
    position: absolute;
    top: 85px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    @include d-flex-row;
  }
  .top-menu__main-menu__item--1200 {
    font-weight: bold;
    font-size: 16px;
    color: $main-color;
    margin-right: 48px;
    cursor: pointer;
  }
  .top-menu__main-menu__item--1200:hover {
    color: $text-colorW;
  }
  .header-content-name {
    font-size: 72px;
  }
  .header-content-about {
    font-size: 24px;
  }
  .header-bottom-btn {
    width: 390px;
    height: 62px;
    bottom: -31px;
    left: calc((100% - 390px) / 2);
  }
  .header-bottom-btn__text {
    font-size: 21px;
  }

  .main-content__revolutionary {
    font-size: 42px;
  }
  .main-content {
  }
  .maim-content__trial {
    margin-top: 50px;
  }
  .main-content__text {
    margin-left: 40px;
    margin-right: 40px;
    font-size: 21px;
    line-height: 32px;
  }
  .main-content__title-get--bottom {
    display: block;
    font-size: 42px;
  }
  .main-content__title-get--top {
    display: none;
  }
  .main-content__card {
    position: relative;
    @include d-flex-row;
    align-items: center;
    margin-bottom: 60px;
    margin-right: 22px;
  }
  .main-content__card__img {
    margin-left: 30px;
  }
  .main-content__card__text-conteiner {
    position: absolute;
    left: 165px;
    text-align: left;
  }
  .main-content__card__text-conteiner__title {
    font-size: 16px;
    line-height: 21px;
  }
  .main-content__bottom__img {
  }
}