@import "consts";
@import "mixins";
@import "reset";
@import "footer";

.wrapper {
  font-family: 'Montserrat', sans-serif;
  min-width: 320px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.header-wrapper{
  position: relative;
  background: url("../img/wall.png") center;

}
.top-menu-wrapper{
  padding: 30px 0;
}
.top-menu{
  @include flex-row-between;
  align-items: center;
  background: $top-menu-background;
}
.top-menu__logo {}
.top-menu__logo__img{
  cursor: pointer;
  margin-left: 10px;

}
.top-menu__logo__img:hover{
  content: url("../img/icons/logo-hover 1.png")
}
.top-menu__logo__text{
  display: none;
}
.top-menu__main-menu_1200{
  display: none;
}
.top-menu__main-menu_768{
  display: none;
}
.top-menu__buy{
  background: $main-color;
  box-sizing: border-box;
  width: 119px;
  height: 37px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}
.top-menu__buy__text{
  font-weight: bold;
  font-size: 15px;
  color: $text-colorW;
}
.top-menu__buy:hover{
  background: $text-colorW;
}
.top-menu__buy:hover .top-menu__buy__text{
  color: $main-color;
}
.top-menu-btn-block{
  position: relative;
  height: 21px;
  width: 26px;
  @include flex-column-between;
  align-items: flex-end;
  margin-right: 10px;
}
.top-menu-btn-block__line{
  width: 26px;
  height: 3px;
  background: $text-colorW;
  border-radius: 5px;
}
.top-menu-btn__line--turnLeft {
  position: absolute;
  transform: rotate(45deg);
  width: 26px;
  bottom: 50%;
}
.top-menu-btn__line--turnRight {
  position: absolute;
  transform: rotate(-45deg);
  width: 26px;
  bottom: 50%;
}
.invisible {
  display: none;
}
.top-menu-btn-block__line--little {
  width: 15px;
}

.top-menu__main-menu {
  background: #333333;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 106px;
  width: 292px;
  margin-left: calc((100% - 292px)/2);
}
.top-menu__main-menu--invisible {
  display: none;
}
.top-menu__main-menu__item{
  padding-top: 19px;
  padding-bottom: 16px;
  border-bottom: 3px solid #3B3B3B;
  font-size: 26px;
  color: $text-colorW;
  cursor: pointer;
}
.top-menu__main-menu__item__border{
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 35px;


}
.top-menu__main-menu__item__border:hover{
  color: $main-color;
  border-left: 8px solid $main-color;
}

.header-content-wrapper {
}
.header-content {
  text-align: center;
}
.header-content-name {
  font-weight: bold;
  font-size: 48px;
  color: $text-colorW;
  padding-top: 50px;
}
.header-content-about {
  font-size: 18px;
  color: $main-color;
  line-height: 24px;
  padding-top: 19px;
  padding-left: 10px;
  padding-right: 10px;
}
.header-content-ver {
  font-size: 14px;
  text-transform: uppercase;
  color: #848E97;
  padding-top: 14px;
  padding-bottom: 416px;
}
.header-bottom-btn {
  position: absolute;
  box-sizing: border-box;
  border: 2px solid $main-color;
  width: 290px;
  height: 45px;
  background: $main-color;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -22px;
  left: calc((100% - 290px)/2);
  cursor: pointer;
}
.header-bottom-btn__text {
  font-weight: bold;
  font-size: 18px;
  color: $text-colorW;
}
.header-bottom-btn:hover{
  background: $text-colorW;
}
.header-bottom-btn:hover .header-bottom-btn__text{
  color: $main-color;
}


.main-wrapper{
  text-align: center;
  padding: 0 10px;
}
.maim-content__trial{
  margin-top: 36px;
  font-size: 14px;
  color: #848E97
}
.main-git-btn{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 36px;
}
.main-git-btn__block{
  border: 1px solid #8A8A8A;
  border-radius: 4px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  margin-bottom: 15px;
  cursor: pointer;
}
.main-git-btn__block__btn{
  padding: 5px 5px;
  display: flex;
  flex-direction: row;
  background: #D8D8D8;
  border-right: 1px solid #8A8A8A;
}
.main-git-btn__block__btn__svg{
  height: 11px;
}
.main-git-btn__block__btn__text{
  margin-left: 5px;
  font-family: Arial;
  font-weight: bold;
  font-size: 11px;

}
.main-git-btn__block__counter{
  font-family: Arial;
  padding: 5px 5px;
  font-size: 11px;
  font-weight: bold;

}

.main-content__revolutionary {
  margin-top: 80px;
  font-weight: bold;
  font-size: 26px;
  text-transform: uppercase;
  color: #635C73;
}
.main-content__text {
  margin-top: 27px;
  font-family: Lato;
  font-size: 14px;
  line-height: 20px;
  color: $text-colorB;
}
.main-content{}

.main-content__title-get {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: $main-color;
}
.main-content__title-get:before {
  content: '<';
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: $main-color;
}
.main-content__title-get:after {
  content: '>';
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: $main-color;
}
.main-content__title-get--bottom {
  display: none;
}
.main-content__title-get--top{
  margin-top: 120px;

}
.main-content__card{}
.main-content__card__img{
  margin-top: 40px;
  margin-bottom: 20px;
}
.main-content__card__text-conteiner{}
.main-content__card__text-conteiner__title{
  font-size: 16px;
  color: $text-colorB;
}
.main-content__card__text-conteiner__text{
  margin-top: 14px;
  font-family: Lato;
  font-size: 14px;
  line-height: 21px;
  color: #848E97;
}
.main-content__bottom__img {
  width: 100%;
}

@import "media768";
@import "footerMedia768";

@import "media1200";
@import "footerMedia1200";